<div class="action-button-section list__button-column--flex">
    <div class="buttons--left input--centered">
        <button>Jump Up</button>
        <button>Knockdown</button>
    </div>
    <div class="buttons--right input--centered">
    <button>Take Damage</button>
    <button>Half magic</button>
</div>
</div>