<div class="action-button-section list__button-column--flex">
    <div class="buttons--left input--centered">
        <button>{{localize "ED.Buttons.jumpUp"}}</button>
        <button>{{localize "ED.Buttons.knockDownTest"}}</button>
    </div>
    <div class="buttons--right input--centered">
        <button>{{localize "ED.Buttons.takeDamage"}}</button>
        <button>{{localize "ED.Buttons.halfMagic"}}</button>
    </div>
</div>