<div class="main">
    <div class="actor-sheet-body">
        <div class="tab tab__general" data-tab="actor-general-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-general.hbs"}}
        </div>
        <div class="tab tab__talents" data-tab="actor-talents-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-talents.hbs"}}
        </div>
        <div class="tab tab__skills" data-tab="actor-skills-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-skills.hbs"}}
        </div>
        <div class="tab tab__devotions" data-tab="actor-devotions-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-devotions.hbs"}}
        </div>
        <div class="tab tab__spells" data-tab="actor-spells-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-spells.hbs"}}
        </div>
        <div class="tab tab__equipement" data-tab="actor-equipment-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-equipment.hbs"}}
        </div>
        <div class="tab tab__notes" data-tab="actor-notes-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-notes.hbs"}}
        </div>
        <div class="tab tab__reputation" data-tab="actor-familiar-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-familiars-reputation.hbs"}}
        </div>

        <div class="tab tab__specials" data-tab="actor-specials-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-specials.hbs"}}
        </div>
        <div class="tab tab__legend" data-tab="actor-legend-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-legend.hbs"}}
        </div>
        <div class="tab tab__class" data-tab="actor-disciplines-tab">
            {{> "systems/ed4e/templates/actor/character-details/details-disciplines.hbs"}}
        </div>
    </div>
</div>