<div>
    <div class="header-section__name">
        <div class="sheet-header__indent--left">
            <h3 class="header__no-border header-name__no-border">
                <input type="text" name="name" value="{{actor.name}}" placeholder="Name / Race">
            </h3>
        </div>
        <div class="sheet-header__indent--right">
            {{#each actor.itemTypes.namegiver}}
            <div class="item-id" data-item-id="{{_id}}">
                <h3 class="header__no-border">
                    {{name}}
                    <span class="icons__small">
                        {{> "systems/ed4e/templates/global/card-options-chat.hbs"}}
                    </span>
                </h3>
            </div>
            {{/each}}
        </div>
    </div>
</div>