<div>
    <H3>
        <div class="header-section__name">
            <input class="header-section__name--input" type="text" name="name" value="{{actor.name}}" placeholder="Name / Race">
        </div>
        <div class="header-section__characteristics">
            Characteristics
            <a class="fa fa-refresh"></a>
        </div>
    </H3>
</div>