<div class="input--centered">
    <div class="navigator__actor">
        <h4>
            Navigator
        </h4>
        <nav class="actor-sheet-tabs list__ordered-column--flex">
            <a data-tab="actor-general-tab">General</a>
            <a data-tab="actor-talents-tab">talents</a>
            <a data-tab="actor-skills-tab">skills</a>
            <a data-tab="actor-devotions-tab">devotions</a>
            <a data-tab="actor-spells-tab">spells</a>
            <a data-tab="actor-equipment-tab">equipment</a>
            <a data-tab="actor-notes-tab">notes</a>
            <a data-tab="actor-familiar-tab">familiar/Mounts</a>
            <a data-tab="actor-reputation-tab">reputation</a>
            <a data-tab="actor-specials-tab">specials</a>
            
        </nav>
        <hr class="thematic-change">
    </div>
</div>