@font-face {
  font-family: 'ArnoPro Bold';
  src: url('fonts/ArnoPro-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'ArnoPro BoldItalic';
  src: url('fonts/ArnoPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Italic';
  src: url('fonts/ArnoPro-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Regular';
  src: url('fonts/ArnoPro-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'WarhorseDIY';
  src: url('fonts/Warhorse Deco BB diy Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'OldLondon';
  src: url('fonts/Olondon_.otf');
  font-style: normal;
}
.partial__two {
  float: left;
  width: 50%;
}
.partial__three {
  float: left;
  width: 33.3%;
}
.partial__four {
  float: left;
  width: 25%;
}
.partial__five {
  float: left;
  width: 20%;
}
.partial__six {
  float: left;
  width: 16.6%;
}
.header__no-border {
  border: none;
}
.header__no-border input {
  border: none;
  background: transparent;
}
.header--centered {
  text-align: center;
}
.input__circle-input--centered {
  border: 1px solid;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
  background: lightgrey;
}
.input--centered {
  text-align: center;
}
input.input__number-input {
  width: 30px;
  padding-top: 5px;
  height: 20px;
}
.one-line__vertical-align > * {
  line-height: 35px;
  vertical-align: middle;
}
.text__alignment--left {
  text-align: left;
}
.text__alignment--right {
  text-align: right;
}
.text__alignment--center {
  text-align: center;
}
.font__bold {
  font-weight: bold;
}
.text-break__auto {
  word-break: normal;
}
.display__inline-block {
  display: inline-block;
}
.space__small {
  padding-top: 10px;
}
.undefined {
  background-color: red;
}
.itemControlGroup,
.icon__position--right {
  float: right;
}
.icons__small {
  font-size: small;
}
.roll-icon__hover,
.roll-icon__pointer,
.attribute-icon,
.equipment-icon {
  width: 25px;
}
#logo {
  content: url('assets/foundry/earthdawn-logo.png');
  width: 120px;
  height: auto;
  padding-right: 10px;
}
#pause img {
  content: url('assets/foundry/pause.png');
  width: 128px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 64px);
}
.body .actor-section__top {
  height: 158px;
}
.body .actor-section__top .actor__image {
  width: 20%;
  float: left;
}
.body .actor-section__top .actor__characteristics {
  width: 80%;
  float: left;
}
.body .actor-section__top img {
  border: none;
}
.body .actor-section__top .padding__top-small {
  height: 80px;
}
.main .actor-sheet-body .tab__general .left-part {
  float: left;
  width: 250px;
}
.main .actor-sheet-body .tab__general .left-part .margin__none {
  margin-bottom: 0;
}
.main .actor-sheet-body .tab__general .left-part .fa-star {
  font-size: 7px;
}
.main .actor-sheet-body .tab__general .left-part .attribute__increases {
  text-align: left;
  padding-left: 2px;
  margin-bottom: 15px;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__header {
  height: 30px;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__header .button__Karma-refresh {
  width: 25px;
  height: 25px;
  border: none;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__grid--container {
  align-items: center;
  text-align: center;
  display: grid;
  height: 30px;
  grid-template-columns: 83px 83px 83px;
}
.main .actor-sheet-body .tab__general .right-part {
  float: right;
  width: 520px;
}
.main .actor-sheet-body .tab__general .right-part .margin__right {
  margin-right: 20px;
}
.main .actor-sheet-body .tab__general .right-part .conditions__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 220px;
}
.main .actor-sheet-body .tab__legend .legend-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  padding-left: 2px;
  grid-template-columns: 158px 158px 158px 158px 158px;
}
.main .actor-sheet-body .tab__class .class-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  padding-left: 2px;
  grid-template-columns: 40px 450px 200px 100px;
}
.main .actor-sheet-body .tab__class .item__image {
  width: 25px;
  border: none;
}
.action--buttons {
  padding-top: 5px;
  position: relative;
  width: 100%;
  z-index: -6;
}
.action--buttons button {
  position: relative;
  z-index: 4;
  width: 100px;
}
.action--buttons .buttons--left {
  margin-left: 45px;
  margin-right: 50px;
  float: left;
  width: 40%;
}
.action--buttons .buttons--right {
  float: left;
  width: 40%;
  margin-right: 50px;
}
.legend-point__history--earned {
  height: 26px;
  line-height: 22px;
}
.body .item-section__top {
  height: 158px;
}
.body .item-section__top img {
  width: 158px;
  border: none;
}
.app.window-app.earthdawn4e.sheet {
  background-image: url('assets/sheet/background.png');
  background-size: cover;
}
.app.window-app.earthdawn4e.sheet header {
  position: relative;
  z-index: 3;
  border: none;
}
.app.window-app.earthdawn4e.sheet header .window-title {
  padding-left: 80px;
  margin-top: -4px;
}
.app.window-app.earthdawn4e.sheet header .header-button {
  margin-top: -4px;
}
.app.window-app.earthdawn4e.sheet header .close {
  padding-right: 80px;
}
.app.window-app.earthdawn4e.sheet .window-content {
  background-image: url('assets/sheet/background.png');
  background-size: cover;
  padding: 0;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame {
  position: absolute;
  margin-top: -70px;
  z-index: 2;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame img {
  border: none;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name {
  position: relative;
  z-index: 4;
  margin-top: -22px;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name .sheet-header__indent--left {
  width: 45%;
  float: left;
  padding-left: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name .sheet-header__indent--right {
  width: 45%;
  float: right;
  padding-right: 10px;
}
.app.window-app.earthdawn4e.sheet .window-content .body {
  position: relative;
  z-index: 4;
  margin-top: 30px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .navigator__flex .navigator__tab {
  padding-left: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main {
  padding-top: 1px;
  height: 440px;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor {
  min-height: 400px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .prosemirror,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor-container,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor-content {
  min-height: 350px;
  max-height: 100%;
}
.app.window-app.earthdawn4e.sheet .window-content .footer__frame {
  position: absolute;
  transform: rotate(180deg);
  bottom: -45px;
  z-index: 2;
}
.app.window-app.earthdawn4e.sheet .window-content .footer__frame img {
  border: none;
}
.app.window-app.earthdawn4e.sheet .window-resizable-handle {
  z-index: 5;
}
.ability-card__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 250px 100px 75px 75px 75px 75px 100px;
}
.ability-card__grid--container .ability-card__grid--item .roll-icon__hover,
.ability-card__grid--container .ability-card__grid--item .roll-icon__pointer {
  display: none;
}
.ability-icon,
.equipment-icon,
.effect-icon {
  width: 25px;
}
.attribute-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  grid-template-columns: 30px 110px 38px 38px 38px;
}
.attribute-card__grid--container .attribute__name {
  padding-left: 2px;
  text-align: left;
}
.attribute-card__grid--container .attribute-card__grid--item .roll-icon__pointer {
  display: none;
}
.equipment-card__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 250px 100px 75px 75px 75px 75px 100px;
}
.equipment-card__grid--container .equipment-card__grid--item .roll-icon__hover,
.equipment-card__grid--container .equipment-card__grid--item .roll-icon__pointer {
  display: none;
}
.equipment-card__grid--container-Header {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 290px 100px 75px 75px 75px 75px 100px;
}
.effect-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  grid-template-columns: 40px 250px 200px 100px 100px 100px;
}
.effect-card__grid--container .effect {
  padding-left: 2px;
  text-align: left;
}
.roll-icon__hover,
.roll-icon__pointer,
.ability-icon,
.attribute-icon,
.equipment-icon,
.equipment-icon__visible {
  border: none;
}
.ability-card__grid--item.icons__dice:hover + div,
.attribute-card__grid--item.icons__dice:hover + div,
.equipment-card__grid--item.icons__dice:hover + div {
  cursor: pointer;
  color: #000;
  text-shadow: 0 0 10px red;
}
.ability-card__grid--container:hover .icons__dice img,
.attribute-card__grid--container:hover .icons__dice img,
.equipment-card__grid--container:hover .icons__dice img {
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  background-image: radial-gradient(#5a0000, #dd5656, #ddcfcd);
}
.ability-card__grid--container:hover .roll-icon__hover,
.attribute-card__grid--container:hover .roll-icon__hover,
.equipment-card__grid--container:hover .roll-icon__hover,
.ability-card__grid--container:hover .attribute-icon,
.attribute-card__grid--container:hover .attribute-icon,
.equipment-card__grid--container:hover .attribute-icon,
.ability-card__grid--container:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-icon {
  margin-top: -4px;
  display: block;
  animation-duration: 3s;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ability-card__grid--container:hover .ability-icon,
.attribute-card__grid--container:hover .ability-icon,
.equipment-card__grid--container:hover .ability-icon,
.ability-card__grid--container:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-icon {
  display: none;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer {
  display: block;
  margin-top: -4px;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon {
  display: none;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover {
  display: none;
}
.card__description--toggle {
  display: none;
}
