@font-face {
  font-family: 'ArnoPro Bold';
  src: url('fonts/ArnoPro-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'ArnoPro BoldItalic';
  src: url('fonts/ArnoPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Italic';
  src: url('fonts/ArnoPro-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'ArnoPro Regular';
  src: url('fonts/ArnoPro-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'WarhorseDIY';
  src: url('fonts/Warhorse Deco BB diy Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'OldLondon';
  src: url('fonts/Olondon_.otf');
  font-style: normal;
}
.partial__two {
  float: left;
  width: 50%;
}
.partial__three {
  float: left;
  width: 33.3%;
}
.partial__four {
  float: left;
  width: 25%;
}
.partial__five {
  float: left;
  width: 20%;
}
.partial__six {
  float: left;
  width: 16.6%;
}
.header__no-border {
  border: none;
}
.header__no-border input {
  border: none;
  background: transparent;
}
.header--centered {
  text-align: center;
}
.input__circle-input--centered {
  border: 1px solid;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.input--centered {
  text-align: center;
}
input.input__number-input {
  width: 30px;
  padding-top: 5px;
  height: 20px;
}
.one-line__vertical-align > * {
  line-height: 35px;
  vertical-align: middle;
}
.text__alignment--left {
  text-align: left;
}
.text__alignment--right {
  text-align: right;
}
.text__alignment--center {
  text-align: center;
}
.font__bold {
  font-weight: bold;
}
.text-break__auto {
  word-break: normal;
}
#chat-log,
.window-content,
input,
.body {
  font-family: 'ArnoPro Regular', serif;
  font-size: 1.05em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'WarhorseDIY', serif;
}
p {
  font-size: large;
}
.font__no-underline {
  border-bottom: none;
}
.display__inline-block {
  display: inline-block;
}
.space__small {
  padding-top: 10px;
}
.undefined {
  background-color: red;
  color: black;
}
.itemControlGroup,
.icon__position--right {
  float: right;
}
.icons__small {
  font-size: small;
}
.roll-icon__hover,
.roll-icon__pointer,
.attribute-icon,
.equipment-icon {
  width: 25px;
}
#logo {
  content: url('assets/foundry/earthdawn-logo.png');
  width: 120px;
  height: auto;
  padding-right: 10px;
}
#pause img {
  content: url('assets/foundry/pause.png');
  width: 128px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 64px);
}
.chat-message {
  background-image: url('assets/sheet/background.png');
}
.chat-message .message-sender {
  font-size: larger;
  padding-top: 12px;
  padding-left: 5px;
}
.chat-message .message-metadata {
  padding-top: 12px;
}
.chat-message .message-metadata .message-delete {
  font-size: larger;
}
.chat-message img.avatar {
  border: none;
  object-fit: scale-down;
  max-height: 40px;
}
.chat-message .custom-flavor {
  margin: 0.5em 0;
  font-size: medium;
}
.chat-message .roll-successes {
  margin: 0.5em 0;
  text-align: center;
  font-size: large;
}
.chat-message .modifier-lists {
  margin-bottom: 5px;
  padding: 0 0.3em;
  font-size: medium;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}
.chat-message .modifier-lists li {
  text-transform: capitalize;
}
.chat-message .dice-formula {
  word-break: unset;
}
.chat-message .dice-total.roll-success {
  background-color: darkseagreen;
}
.chat-message .dice-total.roll-failure {
  background-color: indianred;
}
.chat-message .roll-failure {
  background-color: indianred;
  color: black;
  font-size: large;
  padding-top: 5px;
  text-align: center;
}
.chat-message .message-buttons {
  margin: 1em 0;
}
.chat-message .message-buttons.flexrow button:first-child {
  margin-left: 0;
}
.chat-message .message-buttons.flexrow button:last-child {
  margin-right: 0;
}
.app.window-app.form.earthdawn4e.roll-prompt .navigator-section {
  position: relative;
  z-index: 5;
  margin-top: 10px;
  padding-bottom: 10px;
}
.app.window-app.form.earthdawn4e.roll-prompt .roll-prompt-body .flex-column {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.app.window-app.form.earthdawn4e.roll-prompt .roll-prompt-body .flex-column label {
  display: block;
  height: max-content;
  padding-top: 8px;
  padding-bottom: 4px;
}
.app.window-app.form.earthdawn4e.roll-prompt header,
.app.window-app.form.earthdawn4e.assign-legend header {
  position: relative;
  z-index: 3;
  border: none;
}
.app.window-app.form.earthdawn4e.roll-prompt header .window-title,
.app.window-app.form.earthdawn4e.assign-legend header .window-title {
  padding-left: 35px;
  margin-top: 0px;
}
.app.window-app.form.earthdawn4e.roll-prompt header .header-button,
.app.window-app.form.earthdawn4e.assign-legend header .header-button {
  margin-top: 0px;
}
.app.window-app.form.earthdawn4e.roll-prompt header .close,
.app.window-app.form.earthdawn4e.assign-legend header .close {
  padding-right: 35px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content,
.app.window-app.form.earthdawn4e.assign-legend .window-content {
  background-image: url('assets/sheet/background.png');
  background-size: cover;
  color: black;
  background-repeat: repeat;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .frame__dialog--small,
.app.window-app.form.earthdawn4e.assign-legend .window-content .frame__dialog--small {
  border: none;
  position: absolute;
  margin-left: -8px;
  margin-top: -80px;
  z-index: 2;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .frame__bottom,
.app.window-app.form.earthdawn4e.assign-legend .window-content .frame__bottom {
  transform: rotate(180deg);
  bottom: -45px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .small-dialog__buttons,
.app.window-app.form.earthdawn4e.assign-legend .window-content .small-dialog__buttons {
  position: absolute;
  bottom: 50px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .small-dialog__buttons button,
.app.window-app.form.earthdawn4e.assign-legend .window-content .small-dialog__buttons button {
  position: relative;
  z-index: 5;
  width: 200px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .small-dialog__buttons .button-ok,
.app.window-app.form.earthdawn4e.assign-legend .window-content .small-dialog__buttons .button-ok {
  margin-left: 8px;
  margin-right: 45px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-content .small-dialog__buttons .button-cancel,
.app.window-app.form.earthdawn4e.assign-legend .window-content .small-dialog__buttons .button-cancel {
  margin-left: 45px;
  margin-right: 15px;
}
.app.window-app.form.earthdawn4e.roll-prompt .window-resizable-handle,
.app.window-app.form.earthdawn4e.assign-legend .window-resizable-handle {
  z-index: 5;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .assing-lp__input-area {
  margin-top: 10px;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .assing-lp__input {
  position: relative;
  z-index: 5;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .assing-lp__input .assign-lp__amount {
  z-index: 5;
  width: 75px;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .assing-lp__input .assign-lp__description {
  z-index: 5;
  width: 480px;
  height: var(--form-field-height);
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: var(--color-text-dark-primary);
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: 3px;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .actor-area {
  display: block;
  margin-top: 25px;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .actor-area multi-checkbox {
  display: flex;
  flex-direction: column;
}
.app.window-app.form.earthdawn4e.assign-legend .assign-legend-point__body .actor-area .checkbox::after {
  content: "\a";
  white-space: pre;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content {
  position: relative;
  background-image: url('assets/sheet/background.png');
  background-size: cover;
  color: black;
  background-repeat: repeat;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__earned .legend-point__history--earned-buttons button {
  height: 35px;
  align-self: flex-end;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__earned .add-earning-icon {
  top: 5px;
  /* Adjust as needed */
  right: 5px;
  /* Adjust as needed */
  cursor: pointer;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .legend-point__history--spent-buttons button {
  height: 35px;
  align-self: flex-end;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .spendings-details {
  display: none;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .spendings-details.is-visible {
  display: block;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .lp-history__date {
  width: 20%;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .lp-history__type {
  width: 20%;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .lp-history__name {
  width: 20%;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .lp-history__description {
  width: 20%;
}
.app.window-app.form.earthdawn4e.legend-point__history .window-content .lp-history__spend .lp-history__amount {
  width: 20%;
}
.app.window-app.earthdawn4e.sheet {
  background-image: url('assets/sheet/background.png');
  background-size: cover;
}
.app.window-app.earthdawn4e.sheet header {
  position: relative;
  z-index: 3;
  border: none;
}
.app.window-app.earthdawn4e.sheet header .window-title {
  padding-left: 80px;
  margin-top: -4px;
}
.app.window-app.earthdawn4e.sheet header .header-button {
  margin-top: -4px;
}
.app.window-app.earthdawn4e.sheet header .close {
  padding-right: 80px;
}
.app.window-app.earthdawn4e.sheet .window-content {
  background-image: url('assets/sheet/background.png');
  background-size: cover;
  padding: 0;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame {
  position: absolute;
  margin-top: -70px;
  z-index: 2;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame img {
  border: none;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name {
  position: relative;
  z-index: 4;
  margin-top: -22px;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name .sheet-header__indent--left {
  width: 45%;
  float: left;
  padding-left: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .header__frame .section__name .sheet-header__indent--right {
  width: 45%;
  float: right;
  padding-right: 10px;
}
.app.window-app.earthdawn4e.sheet .window-content .body {
  position: relative;
  z-index: 4;
  margin-top: 30px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .navigator__flex .navigator__tab {
  padding-left: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top {
  grid-area: empty;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .image__grid-item {
  grid-area: image;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-defenses-header__grid-item {
  grid-area: defensesHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-defenses-physical__grid-item {
  grid-area: defensePhyscial;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-defenses-mystical__grid-item {
  grid-area: defenseMystical;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-defenses-social__grid-item {
  grid-area: defenseSocial;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-health-header__grid-item {
  grid-area: healthHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-health-1__grid-item {
  grid-area: healthWound;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-health-2__grid-item {
  grid-area: healthUnconscious;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-health-3__grid-item {
  grid-area: healthDeath;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-armor-header__grid-item {
  grid-area: armorHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-armor-physical__grid-item {
  grid-area: armorPhysical;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-armor-mystical__grid-item {
  grid-area: armorMystical;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-movement-header__grid-item {
  grid-area: movementHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-movement__grid-item {
  grid-area: movement;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-damage-header__grid-item {
  grid-area: damageHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-damage-damage__grid-item {
  grid-area: damageDamage;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-damage-wounds__grid-item {
  grid-area: damageWounds;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-recovery-header__grid-item {
  grid-area: recoveryHeader;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-recovery__grid-item {
  grid-area: recovery;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .characteristics-max-wounds__grid-item {
  grid-area: maxWounds;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .image-characteristics__grid-container {
  display: grid;
  grid-template-columns: 160px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 4px;
  margin-left: 4px;
  grid-template-areas: 'image defensesHeader defensesHeader defensesHeader healthHeader healthHeader healthHeader' 'image defensePhyscial defenseMystical defenseSocial healthWound healthUnconscious healthDeath' 'image defensePhyscial defenseMystical defenseSocial healthWound healthUnconscious healthDeath' 'image armorHeader armorHeader movementHeader damageHeader damageHeader recoveryHeader' 'image armorPhysical armorMystical movement damageDamage damageWounds recovery' 'image armorPhysical armorMystical movement damageDamage damageWounds recovery';
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .image-characteristics-mob__grid-container {
  display: grid;
  grid-template-columns: 160px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 4px;
  margin-left: 4px;
  grid-template-areas: 'image defensesHeader defensesHeader defensesHeader healthHeader healthHeader healthHeader' 'image defensePhyscial defenseMystical defenseSocial damageWounds maxWounds healthUnconscious' 'image defensePhyscial defenseMystical defenseSocial damageWounds maxWounds healthUnconscious' 'image armorHeader armorHeader movementHeader empty empty empty' 'image armorPhysical armorMystical movement damageDamage healthWound recovery' 'image armorPhysical armorMystical movement damageDamage healthWound recovery';
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .image-characteristics__grid-container > div,
.app.window-app.earthdawn4e.sheet .window-content .body .top .image-characteristics-mob__grid-container > div {
  text-align: center;
}
.app.window-app.earthdawn4e.sheet .window-content .body .top .actor-image {
  width: 160px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main {
  padding-top: 1px;
  height: 440px;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor {
  min-height: 400px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .prosemirror,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor-container,
.app.window-app.earthdawn4e.sheet .window-content .body .main .sheet__editor .editor-content {
  min-height: 350px;
  max-height: 100%;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .form-group label {
  float: left;
  width: 40%;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .form-group .form-fields {
  float: right;
  width: 60%;
}
.app.window-app.earthdawn4e.sheet .window-content .body .main .form-group .hint {
  font-size: smaller;
}
.app.window-app.earthdawn4e.sheet .window-content .footer__frame {
  position: absolute;
  transform: rotate(180deg);
  bottom: -45px;
  z-index: 2;
}
.app.window-app.earthdawn4e.sheet .window-content .footer__frame img {
  border: none;
}
.app.window-app.earthdawn4e.sheet .window-resizable-handle {
  z-index: 5;
}
.ability-card__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 250px 100px 70px 70px 70px 70px 100px;
}
.ability-card__grid--container .ability-card__grid--item .roll-icon__hover,
.ability-card__grid--container .ability-card__grid--item .roll-icon__hover-fixed,
.ability-card__grid--container .ability-card__grid--item .roll-icon__pointer {
  display: none;
}
.ability-icon,
.equipment-icon,
.power-icon,
.effect-icon,
.item__image--visible,
.equipment-icon__visible,
.power-icon__visible {
  width: 25px;
  height: 25px;
  border: none;
}
.item__status {
  width: 16px;
  border: none;
}
.attribute-card__grid--container {
  margin-bottom: 3px;
  align-items: center;
  height: 30px;
  display: grid;
  grid-template-columns: 30px 110px 38px 38px 38px;
}
.attribute-card__grid--container .attribute__name {
  padding-left: 2px;
  text-align: left;
}
.attribute-card__grid--container .attribute-card__grid--item .roll-icon__pointer {
  display: none;
}
.equipment-card__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 250px 100px 75px 75px 75px 75px 75px;
}
.equipment-card__grid--container .equipment-card__grid--item .roll-icon__hover,
.equipment-card__grid--container .equipment-card__grid--item .roll-icon__pointer {
  display: none;
}
.equipment-card__grid--container .itemControlGroup {
  float: none;
}
.power-card__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 280px 100px 100px 75px 75px 100px;
}
.power-card__grid--container .power-card__grid--item .roll-icon__hover,
.power-card__grid--container .maneuver-card__grid--item .roll-icon__hover,
.power-card__grid--container .power-card__grid--item .roll-icon__pointer,
.power-card__grid--container .maneuver-card__grid--item .roll-icon__pointer {
  display: none;
}
.power-card__grid--container .itemControlGroup {
  float: none;
}
.effect-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  grid-template-columns: 40px 250px 200px 100px 100px 100px;
}
.effect-card__grid--container .effect {
  padding-left: 2px;
  text-align: left;
}
.roll-icon__hover,
.roll-icon__hover-fixed,
.roll-icon__pointer,
.ability-icon,
.attribute-icon,
.power-icon,
.power-icon__visible .equipment-icon,
.equipment-icon__visible {
  border: none;
  display: block;
}
.ability-card__grid--item.icons__dice:hover + div,
.attribute-card__grid--item.icons__dice:hover + div,
.power-card__grid--item.icons__dice:hover + div,
.maneuver-card__grid--item.icons__dice:hover + div,
.equipment-card__grid--item.icons__dice:hover + div {
  cursor: pointer;
  color: #000;
  text-shadow: 0 0 10px red;
}
.ability-card__grid--container:hover .icons__dice img,
.attribute-card__grid--container:hover .icons__dice img,
power-card__grid--container:hover .icons__dice img,
.equipment-card__grid--container:hover .icons__dice img {
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  background-image: radial-gradient(#5a0000, #dd5656, #ddcfcd);
}
.ability-card__grid--container:hover .roll-icon__hover,
.attribute-card__grid--container:hover .roll-icon__hover,
power-card__grid--container:hover .roll-icon__hover,
.equipment-card__grid--container:hover .roll-icon__hover,
.ability-card__grid--container:hover .attribute-icon,
.attribute-card__grid--container:hover .attribute-icon,
power-card__grid--container:hover .attribute-icon,
.equipment-card__grid--container:hover .attribute-icon,
.ability-card__grid--container:hover .power-icon,
.attribute-card__grid--container:hover .power-icon,
power-card__grid--container:hover .power-icon,
.equipment-card__grid--container:hover .power-icon,
.ability-card__grid--container:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-icon,
power-card__grid--container:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-icon {
  margin-top: -4px;
  display: block;
  animation-duration: 3s;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ability-card__grid--container:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .roll-icon__hover-fixed {
  margin-top: -4px;
  display: block;
  width: 20px;
}
.ability-card__grid--container:hover .ability-icon,
.attribute-card__grid--container:hover .ability-icon,
power-card__grid--container:hover .ability-icon,
.equipment-card__grid--container:hover .ability-icon,
.ability-card__grid--container:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-icon,
power-card__grid--container:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-icon,
.ability-card__grid--container:hover .power-icon,
.attribute-card__grid--container:hover .power-icon,
power-card__grid--container:hover .power-icon,
.equipment-card__grid--container:hover .power-icon {
  display: none;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
power-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
power-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
power-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__pointer,
power-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__pointer,
.ability-card__grid--container:hover .power-card__grid--item:hover .roll-icon__pointer,
.attribute-card__grid--container:hover .power-card__grid--item:hover .roll-icon__pointer,
power-card__grid--container:hover .power-card__grid--item:hover .roll-icon__pointer,
.equipment-card__grid--container:hover .power-card__grid--item:hover .roll-icon__pointer {
  display: block;
  margin-top: -4px;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
power-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
power-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
power-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .attribute-icon,
power-card__grid--container:hover .maneuver-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .power-card__grid--item:hover .attribute-icon,
.attribute-card__grid--container:hover .power-card__grid--item:hover .attribute-icon,
power-card__grid--container:hover .power-card__grid--item:hover .attribute-icon,
.equipment-card__grid--container:hover .power-card__grid--item:hover .attribute-icon,
.ability-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
power-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
power-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
power-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .ability-icon,
power-card__grid--container:hover .maneuver-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .power-card__grid--item:hover .ability-icon,
.attribute-card__grid--container:hover .power-card__grid--item:hover .ability-icon,
power-card__grid--container:hover .power-card__grid--item:hover .ability-icon,
.equipment-card__grid--container:hover .power-card__grid--item:hover .ability-icon,
.ability-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
power-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
power-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
power-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .equipment-icon,
power-card__grid--container:hover .maneuver-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .power-card__grid--item:hover .equipment-icon,
.attribute-card__grid--container:hover .power-card__grid--item:hover .equipment-icon,
power-card__grid--container:hover .power-card__grid--item:hover .equipment-icon,
.equipment-card__grid--container:hover .power-card__grid--item:hover .equipment-icon,
.ability-card__grid--container:hover .ability-card__grid--item:hover .power-icon,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .power-icon,
power-card__grid--container:hover .ability-card__grid--item:hover .power-icon,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .power-icon,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .power-icon,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .power-icon,
power-card__grid--container:hover .attribute-card__grid--item:hover .power-icon,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .power-icon,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .power-icon,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .power-icon,
power-card__grid--container:hover .equipment-card__grid--item:hover .power-icon,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .power-icon,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .power-icon,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .power-icon,
power-card__grid--container:hover .maneuver-card__grid--item:hover .power-icon,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .power-icon,
.ability-card__grid--container:hover .power-card__grid--item:hover .power-icon,
.attribute-card__grid--container:hover .power-card__grid--item:hover .power-icon,
power-card__grid--container:hover .power-card__grid--item:hover .power-icon,
.equipment-card__grid--container:hover .power-card__grid--item:hover .power-icon {
  display: none;
}
.ability-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
power-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
power-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
power-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover,
power-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover,
.attribute-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover,
power-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover,
.equipment-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover,
.ability-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .ability-card__grid--item:hover .roll-icon__hover-fixed,
.ability-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .attribute-card__grid--item:hover .roll-icon__hover-fixed,
.ability-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .equipment-card__grid--item:hover .roll-icon__hover-fixed,
.ability-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .maneuver-card__grid--item:hover .roll-icon__hover-fixed,
.ability-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover-fixed,
.attribute-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover-fixed,
power-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover-fixed,
.equipment-card__grid--container:hover .power-card__grid--item:hover .roll-icon__hover-fixed {
  display: none;
}
.card__description--toggle {
  display: none;
}
.body .actor-section__top {
  height: 158px;
}
.body .actor-section__top .actor__image {
  width: 20%;
  float: left;
}
.body .actor-section__top .actor__characteristics {
  width: 80%;
  float: left;
}
.body .actor-section__top img {
  border: none;
}
.body .actor-section__top .padding__top-small {
  height: 80px;
}
.main .actor-sheet-body .tab__general .left-part {
  float: left;
  width: 250px;
}
.main .actor-sheet-body .tab__general .left-part .margin__none {
  margin-bottom: 0;
}
.main .actor-sheet-body .tab__general .left-part .fa-star {
  font-size: 7px;
}
.main .actor-sheet-body .tab__general .left-part .attribute__increases {
  text-align: left;
  padding-left: 2px;
  margin-bottom: 12px;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__header {
  height: 30px;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__header .button__Karma-refresh {
  width: 25px;
  height: 25px;
  border: none;
}
.main .actor-sheet-body .tab__general .left-part .karma-devotion__grid--container {
  align-items: center;
  text-align: center;
  display: grid;
  height: 30px;
  grid-template-columns: 83px 83px 83px;
}
.main .actor-sheet-body .tab__general .right-part {
  float: right;
  width: 520px;
}
.main .actor-sheet-body .tab__general .right-part .margin__right {
  margin-right: 20px;
}
.main .actor-sheet-body .tab__general .right-part .conditions__grid--container {
  align-items: center;
  display: grid;
  height: 30px;
  grid-template-columns: 40px 220px;
}
.main .actor-sheet-body .tab__legend .legend-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  padding-left: 2px;
  grid-template-columns: 158px 158px 158px 158px 158px;
}
.main .actor-sheet-body .tab__class .class-card__grid--container {
  align-items: center;
  height: 30px;
  display: grid;
  padding-left: 2px;
  grid-template-columns: 40px 450px 200px 100px;
}
.main .actor-sheet-body .tab__class .item__image {
  width: 25px;
  border: none;
}
.action--buttons {
  padding-top: 5px;
  position: relative;
  width: 100%;
  z-index: -6;
}
.action--buttons button {
  position: relative;
  z-index: 4;
  width: 100px;
}
.action--buttons .buttons--left {
  margin-left: 45px;
  margin-right: 25px;
  float: left;
  width: 40%;
}
.action--buttons .buttons--right {
  float: right;
  width: 40%;
  margin-left: 25px;
  margin-right: 45px;
}
.legend-point__history--earned {
  height: 26px;
  line-height: 22px;
}
.body .item-section__top {
  height: 158px;
}
.body .item-section__top img {
  width: 158px;
  border: none;
}
.body .item__left--main {
  width: 38%;
  float: left;
}
.body .item__left--main div.form-group label {
  flex-basis: 50%;
}
.body .item__left--main div.form-group .hint {
  display: none;
}
.body .item__right--main {
  width: 60%;
  float: right;
}
.denomination__value-currency .denomination__value {
  width: 75%;
  float: left;
}
.denomination__value-currency .denomination__currency {
  margin-top: 3px;
  height: inherit;
  width: 24%;
  float: right;
}
.knack-ability__source-min-level .knack-ability__source {
  width: 90%;
  float: left;
}
.knack-ability__source-min-level .knack-ability__min-level {
  margin-top: 3px;
  height: inherit;
  width: 10%;
  float: right;
}
.item-data__input--line {
  height: 26px;
  margin-bottom: 3px;
}
.item-data__input--line .partial__40--left {
  width: 70%;
  float: left;
}
.item-data__input--line .partial__55--right {
  width: 30%;
  float: right;
}
.spell__duration-unit .spell__duration,
.spell__range-unit .spell__duration,
.spell__shape-unit .spell__duration,
.spell__duration-unit .spell__range,
.spell__range-unit .spell__range,
.spell__shape-unit .spell__range,
.spell__duration-unit .spell__shape,
.spell__range-unit .spell__shape,
.spell__shape-unit .spell__shape {
  width: 75%;
  float: left;
}
.spell__duration-unit .spell__unit,
.spell__range-unit .spell__unit,
.spell__shape-unit .spell__unit {
  margin-top: 3px;
  height: inherit;
  width: 24%;
  float: right;
}
