#pause img {
  content: url('../assets/foundry/pause.png');
  width: 128px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 64px);
}
#logo {
  content: url('/assets/foundry/earthdawn-logo.png');
  width: 120px;
  height: auto;
  padding-right: 10px;
}
.journal-sheet {
  background-color: #c7d31b;
  padding: 5;
  margin: 3;
}
