<div class="itemControlGroup" data-item-id="{{_id}}">
  <a class="item-control item-upgrade__ability" title="{{localize 'earthdawn.u.upgrade'}}">
    <i class="fas fa-arrow-circle-up"></i>
  </a>
  <a class="item-control item-downgrade" title="{{localize 'earthdawn.d.downgrade'}}">
    <i class="fas fa-arrow-circle-down"></i>
  </a>
  <a class="item-control item-display" title="Display Item">
    <i class="fas fa-comments"></i>
  </a>
  <a class="item-control item-delete" title="Delete Item">
    <i class="fas fa-trash"></i>
  </a>
  <a class="item-control item-edit" title="Edit Item">
    <i class="fas fa-edit"></i>
  </a>
</div>