<div class="itemControlGroup" data-item-id="{{_id}}">
  <a class="item-control item-display" title="{{localize "ED.Actor.Cards.chat"}}">
    <i class="fas fa-comments"></i>
  </a>
  <a class="item-control effect-delete" title="{{localize "ED.Actor.Cards.delete"}}">
    <i class="fas fa-trash"></i>
  </a>
  <a class="item-control effect-edit" title="{{localize "ED.Actor.Cards.edit"}}">
    <i class="fas fa-edit"></i>
  </a>
</div>