<div class="itemControlGroup">
  <a class="item-control item-display" title="{{localize "ED.Actor.Cards.chat"}}">
    <i class="fas fa-comments"></i>
  </a>
  <a class="item-control item-delete" title="{{localize "ED.Actor.Cards.delete"}}">
    <i class="fas fa-trash"></i>
  </a>
  <a class="item-control item-edit" title="{{localize "ED.Actor.Cards.edit"}}">
    <i class="fas fa-edit"></i>
  </a>
</div>