.chat-message {
  background-image: url('assets/sheet/background.png');

  .message-sender {
    font-size: larger;
    padding-top: 12px;
    padding-left: 5px;
  }
  .message-metadata {
    padding-top: 12px;
    .message-delete {
      font-size: larger;
    }
  }
  img.avatar {
    border: none;
    object-fit: scale-down;
    max-height: 40px;
  }
  .custom-flavor {
    margin: 0.5em 0;
    font-size: medium;
  }
  .roll-successes {
    margin: 0.5em 0;
    text-align: center;
    font-size: large;
  }
  .modifier-lists {
    margin-bottom: 5px;
    padding: 0 0.3em;
    font-size: medium;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow:  0 0 2px #FFF inset;
    li {
      text-transform: capitalize;
    }
  }
  .dice-formula {
    word-break: unset;
  }
  .dice-total {
    &.roll-success {
      background-color: darkseagreen;
    }
    &.roll-failure {
      background-color: indianred;
    }
  }

    .roll-failure {
      background-color: indianred;
      color: black;
      font-size: large;
      padding-top: 5px;
      text-align: center;
  }

  .message-buttons {
    margin: 1em 0;
    &.flexrow {
      button:first-child {
        margin-left: 0;
      }

      button:last-child {
        margin-right: 0;
      }
    }
  }
  .target__reaction {
    vertical-align: middle;
    display: flex;

    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      border: none;
    }

    .reaction__toggle {
      width: fit-content;
      float: right;
      margin-right: 20px;
    }

    
  }

  .maneuver {
   width: 100%;
   min-height: 40px;


   .testClass {
    font-family: "warhorseDIY", serif;
    font-size: 1.4em;
    border-bottom: 1px solid; 
    font-weight: normal;
    height: 20px;
   }
}


}