<form>
  <div>
    {{log this}}
    {{#each game.actors}}
    {{this.actors}}
    teste
    {{/each}}
  </div>
  <div>
    <label> 'X-LPAmount' </label>
    <input type='number' id='legendPoints'></input>
  </div>
  <div>
    <label> 'X-Description'</label>
    <input type='string' id='description'></input>
  </div>
</form>