<section class="tab spend-tab {{tab.cssClass}} lp-history__spend scrollable" data-group="primary" data-tab="spend-tab">

  <div class="form-group">
    <label>{{localize "ED.Dialogs.Sorting.sortBy"}}</label>
    <div class="form-fields flexrow">
      {{radioBoxes "sortBy" SORTING checked=sortBy localize=false}}
    </div>
  </div>

  {{{spendingsHtmlTable}}}

</section>