<section class="tab earned-tab {{tab.cssClass}}" data-group="primary" data-tab="earned-tab">
  <!-- Body -->
  <div class="lp-history__earned">

    <i class="fas fa-plus-circle add-earning-icon" data-action="addEarning">{{localize "ED4E.Dialogs.LpHistory.addEarning"}}</i>
    {{{earningsHtmlTable}}}

  </div>
</section>
