<form class="legend-point__history--earned flexcol" id="legend-point__history--earned-form" autocomplete="off">

    <!-- Header -->
    {{!-- <div class="header-item__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
    </div> --}}

Add a plus button und die automatische anlege function ... hatte ich schon einmal
    <!-- Body -->
    <div class="legend-point__history--earned-prompt-body">
        <table class="input--centered">
            <thead>
                <tr>
                    <th>
                        date
                    </th>
                    <th>
                        description
                    </th>
                    <th>
                        Legend Points
                    </th>
                    <th>
                        Editors
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        2024-01-01 17:23
                    </td>
                    <td>
                        Reward 1
                    </td>
                    <td>
                        100
                    </td>
                    <td><a class="item-control item-display" title="Display Item">
                            <i class="fas fa-comments"></i>
                        </a>
                        <a class="item-control item-delete" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2024-02-01 17:23
                    </td>
                    <td>
                        Reward 2
                    </td>
                    <td>
                        200
                    </td>
                    <td><a class="item-control item-display" title="Display Item">
                            <i class="fas fa-comments"></i>
                        </a>
                        <a class="item-control item-delete" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2024-03-01 17:23
                    </td>
                    <td>
                        Reward 3
                    </td>
                    <td>
                        300
                    </td>
                    <td>
                        <a class="item-control item-display" title="Display Item">
                            <i class="fas fa-comments"></i>
                        </a>
                        <a class="item-control item-delete" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2024-04-01 17:23
                    </td>
                    <td>
                        Reward 4
                    </td>
                    <td>
                        400
                    </td>
                    <td>
                        <a class="item-control item-display" title="Display Item">
                            <i class="fas fa-comments"></i>
                        </a>
                        <a class="item-control item-delete" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Buttons -->
    <div class="buttons legend-point__history--earned-buttons flexcol">
        <div class="button-group buttons-navigation flexrow">
            <button class='ok default button-ok' type="submit" name="submit" data-button='ok'>
                {{ localize 'X-ok' }}
            </button>
        </div>

    </div>

    <!-- Footer -->
    {{!-- <div class="footer-item__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
    </div> --}}

</form>