<div class="flexcol" id="legend-point__history--earned-form" >
  <!--autocomplete="off"-->

  <!-- tab bodies -->
  <div class="tab-body">

    <!-- tab1: earning -->
    {{> "systems/ed4e/templates/actor/legend-points/history-earned.hbs"}}

    <!-- tab2: spendings -->
    {{> "systems/ed4e/templates/actor/legend-points/history-spend.hbs"}}

  </div>

</div>