.main-section {
  h3 {
    border-bottom: none;
  }

  .table__attribute {
    .attribute__name--content{
      height: 20px;
      vertical-align: middle;
      padding: inherit;
      .rollable-icons {
        margin-top: 5px;
      }
      .roll-icon {
        height: 20px;
      }
      .attribute-label {
        margin-top: 4px;
      }
      .roll-icon__pointer{
        display: none;
        height: 20px;
      }
      .roll-icon__hover{
        //display: none;
        height: 20px;
        border: none;
      }
      .rollable-icons:hover {
        .roll-icon {
          .roll-icon__hover {
            display: inline-block;
            border: none;
          }
        }
        .roll-icon:hover {
          .roll-icon__hover {
            display: none;
          }
          .roll-icon__pointer {
            display: inline-block;
            border: none;
          }
        }
      }
    }
    .attribute__value--content, .attribute__step--content  {
      vertical-align: middle;
      padding: none;

    }

    
    

    // .rollable:hover {
    //   cursor: pointer;
    //   color: #000;
    //   text-shadow: 0 0 10px red;
    //   &.rollable:hover{
    //     background-image: url("icons/svg/d20-grey.svg") !important;
    //   }
    //   &.rollable{
    //     background-image: url("icons/svg/d20-black.svg") !important;
    //   }
    // }

    // .roll__step--hover {
    //   padding-top: 6px;
    //   margin-top: 4px;
    //   vertical-align: bottom;
    // }

    // .roll__step--hover:hover+.roll__icon {
    //   height: 13px;
    //   display: inline-block;
    //   vertical-align: middle;
    // }

    .roll__icon {
      height: 15px;
      position: relative;
      z-index: 4;
      display: none;
      margin-top: -3px;
    }


    tbody {
      height: 20px;
      overflow: auto;
      overflow-x: hidden;
      vertical-align: bottom;
      background: none;
    }

    .fa-star {
      font-size: 5px;
    }

    .enhancemente-1 {
      position: absolute;
      padding-left: 2px;
    }

    .enhancemente-2 {
      position: absolute;
      padding-top: 7px;
      padding-left: 2px;
    }

    .enhancemente-3 {
      position: absolute;
      padding-left: 7px;
      padding-top: 2px;
    }

    .attribute__name--content {
      width: 120px;
    }

    .attribute__value--content,
    .attribute__step--content {
      width: 40px;
    }

    .attribute__value--content {
      text-align: left;
    }


    .attribute__step--content,
    .attribute__dice--content {
      text-align: center;
    }

    table,
    td,
    th,
    td,
    tr {
      //border: 1px solid black;
      background: none;
    }

    tr {
      background: transparent;
    }

  }

  .table__attribute {
    background: none;
    border-top: none;
    border-bottom: none;

    table,
    td,
    th,
    td,
    tr {
      //border: 1px solid black;
      background: none;
    }

    tr {
      background: transparent;
    }
  }

  .character-karma {
    .icon__position--right {
      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-top: 0px;
        vertical-align: middle;
      }
    }
    .karma__current--content {
      width: 60px;
      padding-left: 2px;
    }

    .karma__value--content,
    .karma__step--content {
      width: 40px;
    }

    .karma__value--content {
      text-align: left;
    }


    .karma__step--content,
    .karma__dice--content {
      text-align: center;
    }

    .karma__ritual--icon {
      height: 15px;
      width: 15px;
    }
  }

  .table__karma,
  .table__devotion {
    background: none;
    border-top: none;
    border-bottom: none;

    table,
    td,
    th,
    td,
    tr {
      //border: 1px solid black;
      background: none;
    }

    tr {
      background: transparent;
    }
  }

  .table__devotion {
    .devotion__current--content {
      width: 60px;
      padding-left: 2px;
    }

    .devotion__value--content,
    .devotion__step--content {
      width: 40px;
    }

    .devotion__value--content {
      text-align: left;
    }


    .devotion__step--content,
    .devotion__dice--content {
      text-align: center;
    }
  }

}