.character-sheet {
    .header-section {

        margin-top: 15px;

        h3 {
            border-bottom: none;
        }

        .header-section__name {
            position: absolute;
            color: red;
            width: 40%;
            left: 5%;

            input {
                position: absolute;
                z-index: 6;

                background: transparent;
                border: none;
                color: red;
                width: 100%;
                text-align: center;
            }
        }

        .header-section__characteristics {
            position: absolute;
            color: red;
            right: 5%;
            width: 40%;
            text-align: center;
            z-index: 6;

        }

    }
}