.character-generation {

    .window-header {
        position: relative;
        z-index: 2;
        background: transparent;
        padding-top: 6px;

        .window-title,
        .window-title i {
            position: relative;
            font-size: large;
            z-index: 2;
            left: 60px;
        }

        a {
            position: relative;
            z-index: 2;
            right: 60px;
        }
    }

    .header-item__frame {
        height: 50px;
        margin-top: -60px;
        position: absolute;
        z-index: 1;
        opacity: 0.9;

        img {
            border: none;
            background: transparent;
        }
    }



    .footer-item__frame {
        position: absolute;
        bottom: -35px;
        border: none;
        z-index: 1;
        opacity: 0.9;
        transform: rotate(180deg);

        img {
            border: none;
            background: transparent;
        }
    }
    .window-resizable-handle {
        z-index: 2;
    }

    h4{
        text-align: center;
        margin: 0;
        padding: .5em;
    }

    .character-generation-prompt-body {
        margin-top: 2em;
        flex: 5;

        // navigator tab
        .navigator-section {
            padding: .5em;
        }

        // tabs

        // discipline - questor
        .tab.class-tab {
            .discipline-questor-switch-group {
                padding: .5em;
                font-size: larger;

                input[type="checkbox"] {
                    display: none;
                }

                label {
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    i {
                        flex: 1;
                    }

                    span {
                        flex: 5;
                        font-size: large;

                        &.deselected-class-type {
                            opacity: 0.4;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    // Discipline text
                    #char-gen-class-type-discipline-label {
                        justify-content: right;
                    }
                    // Questor text
                    #char-gen-class-type-questor-label {
                        justify-content: left;
                    }

                    @discipline-questor-arrow-transition: rotate .4s ease ;
                    #char-gen-class-type-select-arrow {
                        transition: @discipline-questor-arrow-transition;
                    }
                    &:hover {
                        #char-gen-class-type-select-arrow {
                            rotate: 180deg;
                        }
                        .deselected-class-type {
                            color: @text-hover-highlight-color;
                        }
                    }
                }
            }
            .available-disciplines-questors-choices {
                padding: .5em;
                justify-content: space-around;
                align-content: space-around;
                gap: 2em;

                label {
                    padding: 0.7em;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    font-size: medium;

                    @color-class-choices: rgba(0, 0, 0, 0.1);
                    border: 1px solid @color-class-choices;
                    border-radius: 2em;

                    cursor: pointer;

                    &:has( input[type="radio"]:checked ) {
                        background-color: @color-class-choices;
                    }

                    input[type="radio"] {
                        display: none;
                    }
                }
            }
            .available-ability-options {
                padding: .5em;
            }
            .talent-tables {
                justify-content: center;
                align-content: center;
                gap: 1em;

                table {
                    text-align: center;
                    flex: 4;
                    &.optional-talents-pool {
                        td {
                            &:has( input[type="radio"]:checked ) {
                                border: 0.4em inset rgba(160, 160, 160, 0.4);
                            }
                            &:hover {
                                cursor: pointer;
                                transition: background-color .3s linear 0s,
                                font-size .4s linear .05s;
                                background-color: rgba(160, 160, 160, 0.4);
                                font-size: larger;
                            }
                            input[type="radio"] {
                                display: none;
                            }
                        }
                    }
                }

                span,i {
                    flex: 1;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                }
            }
        }

        // attributes
        .tab.attribute-tab {
            h3 {
                padding: .2em;
                margin: .5em;
                text-align: center;
            }
            td.attribute-change {
                span {
                    cursor: pointer;
                }
            }
        }
    }

    .character-generation-buttons {
        flex: 1;
        .buttons-navigation button {
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }
}