.character-generation {

    .window-header {
        position: relative;
        z-index: 2;
        background: transparent;
        padding-top: 6px;

        .window-title,
        .window-title i {
            position: relative;
            font-size: large;
            z-index: 2;
            left: 60px;
        }

        a {
            position: relative;
            z-index: 2;
            right: 60px;
        }
    }

    .header-item__frame {
        height: 50px;
        margin-top: -60px;
        position: absolute;
        z-index: 1;
        opacity: 0.9;

        img {
            border: none;
            background: transparent;
        }
    }



    .footer-item__frame {
        position: absolute;
        bottom: -35px;
        border: none;
        z-index: 1;
        opacity: 0.9;
        transform: rotate(180deg);

        img {
            border: none;
            background: transparent;
        }
    }
    .window-resizable-handle {
        z-index: 2;
    }

    h4{
        text-align: center;
        margin: 0;
        padding: .5em;
    }

    .character-generation-prompt-body {
        margin-top: 2em;
        flex: 5;

        // navigator tab
        .navigator-section {
            padding: .5em;
        }

        // tabs

        // discipline - questor
        .tab.class-tab {
            .discipline-questor-switch-group {
                padding: .5em;
                justify-content: center;
                text-align: center;
                font-size: larger;

                span {
                    display: flex;
                    flex: 5;
                    justify-content: center;
                    align-items: center;
                    font-size: large;

                    &.deselected-class-type {
                        opacity: 0.4;
                    }

                    // Discipline text
                    &:has(+ label) {
                        justify-content: right;
                    }
                }

                label {
                    cursor: pointer;
                    flex: 1;

                    @discipline-questor-arrow-transition: transform .3s ease ;
                    .arrow-toggle-switch {
                        transition: @discipline-questor-arrow-transition;
                        &:hover {
                            transform: rotate(180deg);
                        }
                    }

                    // Questor text
                    & + span {
                        justify-content: left;
                    }
                }
            }
            .available-disciplines-questors-choices {
                padding: .5em;
                justify-content: space-around;
                align-content: space-around;
                gap: 2em;

                label {
                    text-align: center;
                    font-size: medium;

                    @color-class-choices: rgba(0, 0, 0, 0.1);
                    border: 1px solid @color-class-choices;
                    border-radius: 2em;

                    cursor: pointer;

                    &:has( input[type="radio"]:checked ) {
                        background-color: @color-class-choices;
                    }

                    input[type="radio"] {
                        display: none;
                    }
                }
            }
            .available-ability-options {
                padding: .5em;
            }
        }
    }

    .character-generation-buttons {
        flex: 1;
        .buttons-navigation button {
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }
}