
.app.window-app.form.earthdawn4e.legend-point__history--earned {
    .window-content {
        position: relative;
        background-image: url('assets/sheet/background.png');
        background-size: cover;
        //margin-top: -60px;
        //padding: 60px 10px 75px 10px;
        color: black;
        background-repeat: repeat;

        .legend-point__history--earned {
            
            .legend-point__history--earned-buttons {
                button {
                    height: 35px;
                    align-self: flex-end;
                }
            }
            
        }
    } 
}