.app.window-app.form.earthdawn4e.roll-prompt {
    .window-content {

    } 
    .legend-point__history--earned-buttons {
        position: absolute;
        bottom: 50px;

        button {
            position: relative;
            z-index: 5;
            width: 200px;
        }

        .button-ok {
            margin-left: 8px;
            margin-right: 45px;
        }

        .button-cancel {
            margin-left: 45px;
            margin-right: 15px
        }
    }


}
