.app.window-app.form.earthdawn4e.roll-prompt {
    .window-content {
        position: relative;
        background-image: url('assets/sheet/background.png');
        background-size: cover;
        //margin-top: -60px;
        //padding: 60px 10px 75px 10px;
        color: black;
        background-repeat: repeat;

        
        
    } 
}
