<form action="lp-validation-prompt" autocomplete="off">
    <div>
        <h2>Legend Point Cost for {{item.name}}</h2>
        <div>
            <input type="checkbox" id="confirm-anyway" name="confirm-anyway">
            <label for="confirm-anyway">Confirm Anyway</label>
        </div>
        <div>
            <button type="button" name="ok" disabled>OK</button>
            <button type="button" name="free">Free</button>
            <button type="button" name="cancel">Cancel</button>
        </div>
    </div>
</form>