<div>
    {{#each actor.itemTypes.effect}}
    {{> "systems/ed4e/templates/item/cards/item-card.hbs"}}
    {{/each}}
</div>
<div class="effects space-smaller">  
            <table>
                <h3 class="headerLine">
                    <div>
                        {{localize "earthdawn.e.effects"}}
                    </div>
                    <a class="effect-add align-right-button" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                        <I class="fas fa-plus"></I>
                    </a>
                </h3>
                <tr>
                    <div class="item-list effects-list">
                        {{#each actor.effects as |effects id|}}
                        {{> "systems/ed4e/templates/item/cards/item-card.hbs" effects }}
                        {{/each}}
                    </div>
                </tr>
            </table> 
        </div>