<div class="item__left--main">
                <h3>item-data</h3>

            </div>
            <div class="item__right--main">
                <h3>item Description</h3>item Description
            </div>