<select class="input__select-input" name="system.price.coinage" value="{{item.system.price.coinage}}" 
    {{#select item.system.price.coinage}}>
        <option value="copper">{{localize "ED.Coinage.copper"}}</option>
        <option value="silver">{{localize "ED.Coinage.silver"}}</option>
        <option value="gold">{{localize "ED.Coinage.gold"}}</option>
    {{/select}}
</select>
