<select class="input__select-input" name="system.price.denomination" value="{{item.system.price.denomination}}" 
    {{#select item.system.price.denomination}}>
        <option value="copper">{{localize "ED.Denomination.copper"}}</option>
        <option value="silver">{{localize "ED.Denomination.silver"}}</option>
        <option value="gold">{{localize "ED.Denomination.gold"}}</option>
    {{/select}}
</select>
