<div class="custom-flavor">{{ customFlavor }}</div>
{{#if (ed-eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}
{{#if (ed-uneq target.total 0)}}
{{> "systems/ed4e/templates/chat/dice-partials/roll-successes.hbs"}}
{{/if}}
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
  {{#if target.public}}
    {{> "systems/ed4e/templates/chat/dice-partials/roll-target-modifier.hbs"}}
  {{/if}}
</div>
{{/if}}
{{!-- 
todo:
#711 show target actor name if a target is chosen 
--}}