<div class="custom-flavor">{{ customFlavor }}</div>
<div class="flexrow message-buttons effect-roll-buttons" data-roll-total={{ result }}>
  {{> "systems/ed4e/templates/chat/chat-buttons/roll-effect.hbs"}}
</div>
{{!-- <div>
  <p class="undefined">to be reworked with #284</p>
  {{> "systems/ed4e/templates/chat/chat-buttons/assign-effect.hbs"}}
</div> --}}
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
</div>

{{!-- 
todo:
#284 assign effect button if rolled item contains an effect with the flag "transfer to actor" set to false.
#711 show target actor name if a target is chosen 
--}}