<div class="custom-flavor">{{ customFlavor }}</div>
<div class="flexrow message-buttons effect-roll-buttons" data-roll-total={{ result }}>
  {{> "systems/ed4e/templates/chat/chat-buttons/roll-effect.hbs"}}
</div>
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
</div>
