<div class="custom-flavor">{{ customFlavor }}</div>
{{#if (eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}
{{#if (ne target.total 0)}}
{{> "systems/ed4e/templates/chat/dice-partials/roll-successes.hbs"}}
{{/if}}
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
</div>
{{/if}}