<div class="custom-flavor">{{ customFlavor }}</div>
{{#if (ed-eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
</div>
{{/if}}
