<div class="custom-flavor">{{ customFlavor }}</div>
{{#if (eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}
{{#if (uneq target.total 0)}}
{{> "systems/ed4e/templates/chat/dice-partials/roll-successes.hbs"}}
{{/if}}
{{!-- <div>
  <p class="undefined">to be reworked with #284</p>
  {{> "systems/ed4e/templates/chat/chat-buttons/assign-effect.hbs"}}
</div> --}}
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
  {{#if target.public}}
    {{> "systems/ed4e/templates/chat/dice-partials/roll-target-modifier.hbs"}}
  {{/if}}
</div>
{{/if}}

{{!-- 
todo:

#284 assign effect button if rolled item contains an effect with the flag "transfer to actor" set to false.
#711 show target actor name if a target is chosen 
--}}