<form class="actor character-sheet-content flexcol" autocomplete="off">
       <header class="header__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
              <title>{{actor.name}}</title>
       </header>
       <div class="body ">
              {{!-- name, Race input & Characteristics title  (which should be included in the characteristics area) --}}
              <section class="header-section">
                     {{> "systems/ed4e/templates/actor/character-partials/header-section.hbs"}}
              </section>
              {{!-- image && Characteristics --}}
              <section class="image-characteristics-section">
                     {{> "systems/ed4e/templates/actor/character-partials/image-characteristics-section.hbs"}}
              </section>
              {{!-- moved to general tab --}}
             {{!-- disciplines, Questors and Paths
             <section class="disciplines-section">
                     {{> "systems/ed4e/templates/actor/character-partials/disciplines-section.hbs"}}
             </section> --}}
              {{!-- Navigator of the sheet --}}
             <section class="navigator-section">
                     {{> "systems/ed4e/templates/actor/actor-partials/navigator-section.hbs"}}
             </section>

              {{!-- attributes and Details of the sheet, including karma and devotion points and some other smaller details --}}
             <section class="main-section">
                            {{> "systems/ed4e/templates/actor/character-partials/details-section.hbs"}}
             </section>
              {{!-- Navigator of the sheet --}}
             <section class="action-button-section">
                     {{> "systems/ed4e/templates/actor/character-partials/action-button-section.hbs"}}
             </section>

       </div>
       <footer class="footer__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
       </footer>
</form>