<form class="actor character-sheet-content flexcol" autocomplete="off">
       <header class="header__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
              <title>{{actor.name}}</title>
              {{!-- name & Characteristics title --}}
              <section class="section__name">
                     {{> "systems/ed4e/templates/actor/actor-partials/actor-section-name.hbs"}}
              </section>
       </header>
       <div class="body">
              {{!-- image && Characteristics --}}
              <section class="actor-section__top">
                     {{> "systems/ed4e/templates/actor/actor-partials/actor-section-top.hbs"}}
              </section>
              {{!-- Navigator of the sheet --}}
             <section class="section__navigator">
                     {{> "systems/ed4e/templates/actor/actor-partials/actor-section-navigator.hbs"}}
             </section>
              {{!-- Including all items and Information --}}
             <section class="section__main">
                            {{> "systems/ed4e/templates/actor/actor-partials/details-section.hbs"}}
             </section>
              {{!-- Navigator of the sheet --}}
             <section class="section__button">
                     {{> "systems/ed4e/templates/actor/actor-partials/action-button-section.hbs"}}
             </section>
       </div>
       <footer class="footer__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
       </footer>
</form>