<form class="actor character-sheet-content flexcol" autocomplete="off">
       <header class="header__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
              <title>{{actor.name}}</title>
       </header>
       <div class="body ">
              {{!-- name & Characteristics title --}}
              <section class="header-section">
                     {{> "systems/ed4e/templates/actor/actor-partials/header-section.hbs"}}
              </section>
              {{!-- image && Characteristics --}}
              <section class="image-characteristics-section">
                     {{> "systems/ed4e/templates/actor/actor-partials/image-characteristics-section.hbs"}}
              </section>
              {{!-- Navigator of the sheet --}}
             <section class="navigator-section">
                     {{> "systems/ed4e/templates/actor/actor-partials/navigator-section.hbs"}}
             </section>
              {{!-- Including all items and Information --}}
             <section class="main-section">
                            {{> "systems/ed4e/templates/actor/actor-partials/details-section.hbs"}}
             </section>
              {{!-- Navigator of the sheet --}}
             <section class="action-button-section">
                     {{> "systems/ed4e/templates/actor/actor-partials/action-button-section.hbs"}}
             </section>
       </div>
       <footer class="footer__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
       </footer>
</form>