// .dark-theme :not(.window-title, .header-button, figcaption, .scene){
//     background-color: var(--bg-color);
//     color: var(--text-color);
//     .character-sheet .body,
//     #chat-form textarea {
//     background-image: none;
//     }
//     #chat-controls .roll-type-select {
//         background: none;
//     }
    

// }

// .dark-theme #board {
//     background-color: white;
// }

.dark-theme {
    .character-sheet .body {
        background-color: var(--bg-color);
    color: var(--text-color);
    background-image: none;
    .input__circle-input--centered, .input__number-input {
        border: 1px solid var(--text-color);
        color: var(--text-color);
    }
    button {
        color: var(--text-color);
    }
    }
}
