// foundry overrides
// form .form-group > * {
//     flex: none;
// }

// form .form-group label {
//     line-height: 25px;;
//     padding-top: 4px;
// }

@text-hover-highlight-color: palevioletred;
@golden-ratio-unitless-bigger: 3.236;
@golden-ratio-unitless-smaller: 2;
@golden-ratio-percentage-bigger: 61.8%;
@golden-ratio-percentage-smaller: 38.2%;
@golden-ratio-fraction-bigger: 0.618;
@golden-ratio-fraction-smaller: 0.382;

h1,
h2,
h3,
h4,
h5,
h6 {
    .WarhorseDIY;
}

.body {
    .ArnoProRegular;
}

#chat-log, .window-content, input {
    .ArnoProRegular;
}

h1, h2, h3, h4, h5, h6 {
    .WarhorseDIY;
}

p {
    font-size: large;
}

.partial__two {
    float: left;
    width: 50%;

}

.partial__three {
    float: left;
    width: 33.3%;

}

.partial__four {
    float: left;
    width: 25%;
}

#chat-controls i.fas.fa-dice-d20:hover {
    color: var(--color-text-hyperlink);
    cursor: pointer;
}




.partial__five {
    float: left;
    width: 20%;
}

.partial__six {
    float: left;
    width: 16.6%;
}

.partial__sixteen-percent {
    float: left;
    width: 16%;
}

.partial__seventy-five-percent {
    float: left;
    width: 75%;
}

.partial__seventy-percent {
    float: left;
    width: 70%;
}

.partial__sixty-percent {
    float: left;
    width: 60%;
}

.partial__sixty-percent--padding {
    padding: 5px;
}

.partial__fouty-percent {
    float: left;
    width: 40%;
}

.partial__fourty-percent--padding {
    padding: 5px;
}

.partial__thirty-percent {
    float: left;
    width: 30%;
}

.partial__twenty-five-percent {
    float: left;
    width: 25%;
}

.partial__twenty-five-percent--padding {
    padding-right: 8px;
}

//Editor - prosemirror

.editor--hint {
    margin-bottom: 0;
    margin-left: 5px;
}

.input__circle-input--centered {
    border: 1px solid;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;
    background: none;
}

.input--centered {
    text-align: center;
}

.header--centered {
    text-align: center;
}

.list__ordered-column--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-style: normal;
}

.list__button-column--flex {

    width: 800px;
    .buttons--left {
        margin-left:45px;
        margin-right: 50px;
        float: left;
        width: 40%;
    }
    .buttons--right {

        float: left;


        width: 40%;
        margin-right: 50px;
    }
}

.button {
    width: 150px;
}

.icon__position--right {
    float: right;
}

.image__border--none {
    border: none;
}

.text__alignment--left {
    text-align: left;
}
.text__alignment--center {
    text-align: center;
}

.field__background-none {
    background: none;
    border: none;
}

input.input__number-input {
    width: 30px;
    padding-top: 5px;
    height: 20px;
}

.one-line__vertical-align > *{
    line-height: 35px;
    vertical-align: middle;
}

.sheet__editor {
    min-height: 400px;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .editor,
    .prosemirror,
    .editor-container,
    .editor-content {
        min-height: 400px;
        max-height: 100%;
    }
}

.itemControlGroup {
    float: right;
}

.button-ok{
    float: left;
    width: 48%;

}

.button-cancel {
    float: right;
    width: 48%;
    margin-top: 2px;

}

.prompt__right {
    line-height: 25px;;
    padding-top: 8px;
}


.strong {
    font-weight: bold;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}