//###########################################################
//                       Partials
//###########################################################
.partial__two {
    float: left;
    width: 50%;
}

.partial__three {
    float: left;
    width: 33.3%;
}

.partial__four {
    float: left;
    width: 25%;
}

.partial__five {
    float: left;
    width: 20%;
}

.partial__six {
    float: left;
    width: 16.6%;
}

//###########################################################
//                       header
//###########################################################
.header__no-border {
    border: none;
    input {
        border: none;
        background: transparent;
    }
}

.header--centered {
    text-align: center;
}

//###########################################################
//                       Input
//###########################################################
.input__circle-input--centered {
    border: 1px solid;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;
    background: lightgrey;
}

.input--centered {
    text-align: center;
}

input.input__number-input {
    width: 30px;
    padding-top: 5px;
    height: 20px;
}


//###########################################################
//                       Text alignment
//###########################################################
.one-line__vertical-align > *{
    line-height: 35px;
    vertical-align: middle;
}

.text__alignment--left {
    text-align: left;
}

.text__alignment--right{
    text-align: right;
}

.text__alignment--center{
    text-align: center;
}

//###########################################################
//                       Fonts
//###########################################################

.font__bold {
    font-weight: bold;
}

.text-break__auto {
    word-break:normal;
}

#chat-log, .window-content, input, .body {
    .ArnoProRegular;
}

h1, h2, h3, h4, h5, h6 {
    .WarhorseDIY;
}

p {
    font-size: large;
}


//###########################################################
//                       Displays
//###########################################################
.display__inline-block {
    display: inline-block;
}

//###########################################################
//                       spaces
//###########################################################
.space__small {
    padding-top: 10px;
}

//###########################################################
//                       undefined areas
//###########################################################
.undefined {
    background-color: red;
    color: black;
}
