.form-group[data-setting-id="ed4e.lpTrackingAttributes"] {
        border-top: 1px solid black;
    }
    label, .form-fields {
        padding-top: 10px;
    }
    
.form-group[data-setting-id="ed4e.lpTrackingHeader"] {
    label {
        .WarhorseDIY;
        font-size: larger;
    }
    .form-fields, p {
        display: none;
    }
    margin-bottom: 0px;
}
