//###########################################################
//                       Body
//###########################################################
.body {
    .actor-section__top {
        height: 158px;
        .actor__image {
            width: 20%;
            float: left;
        }
        .actor__characteristics {
            width: 80%;
            float: left;
        }
        img {
            border: none;
        }
        .padding__top-small {
            height: 80px;
        }
    }
}

//###########################################################
//                       Main Section
//###########################################################
.main {
    .actor-sheet-body {
        .tab__general {
            .left-part {
                float: left;
                width: 250px;

                .fa-star {
                    font-size: 7px;
                  }
                  //###########################################################
                    //    das sollte noch schöner sein
                //###########################################################
                .attribute__increases{
                    text-align: left;
                    padding-left: 2px;
                    margin-bottom: 15px;
                }
                
            }
            .right-part {
                float: right;
                
            }
        }
    }
}
    

//     .left-part {
//         float: left;
//         position: inherit;
//         width: 250px;
//         left: 0px;
//         height: 100%;

//         .button__Karma-refresh {
//             width: 25px;
//             height: 25px;
//             border: none;
//             padding: none;
//         }
//     }

//     .right-part {
//         float: right;
//         position: inherit;
//         left: 200px;
//         width: calc(100% - 270px);
//         height: 100%;

//         .item-data__input--line {
//             line-height: 35px;
//             vertical-align: middle;
//         }
//     }

//     div.right-part {
//         margin: 4px, 4px;
//         padding: 4px;
//         height: 420px;
//         overflow-x: hidden;
//         overflow-y: auto;
//         text-align: justify;
//     }
// }


.action--buttons {
    padding-top: 5px;
    position: relative;
    width: 100%;
    z-index: -6;
    button { 
        position: relative;
        z-index: 4;
        width: 100px;
    }
    .buttons--left {
        margin-left:45px;
        margin-right: 50px;
        float: left;
        width: 40%;
    }
    .buttons--right {
        float: left;
        width: 40%;
        margin-right: 50px;
    }
}
