.body {
    .actor-section__top {
        height: 158px;
        .actor__image {
            width: 20%;
            float: left;
        }
        .actor__characteristics {
            width: 80%;
            float: left;
        }
        img {
            border: none;
        }
        .padding__top-small {
            height: 80px;
        }
    }
}
.action--buttons {
    padding-top: 5px;
    position: relative;
    width: 100%;
    z-index: -6;
    button { 
        position: relative;
        z-index: 4;
        width: 100px;
    }
    .buttons--left {
        margin-left:45px;
        margin-right: 50px;
        float: left;
        width: 40%;
    }
    .buttons--right {
        float: left;
        width: 40%;
        margin-right: 50px;
    }
}
