//###########################################################
//                       Body
//###########################################################
.body {
    .actor-section__top {
        height: 158px;

        .actor__image {
            width: 20%;
            float: left;
        }

        .actor__characteristics {
            width: 80%;
            float: left;
        }

        img {
            border: none;
        }

        .padding__top-small {
            height: 80px;
        }
    }
}

//###########################################################
//                       Main Section
//###########################################################
.main {
    .actor-sheet-body {

        // General Section
        .tab__general {
            .left-part {
                float: left;
                width: 250px;

                .margin__none {
                    margin-bottom: 0;
                }

                .fa-star {
                    font-size: 7px;
                }

                .attribute__increases {
                    text-align: left;
                    padding-left: 2px;
                    margin-bottom: 12px;
                }

                .karma-devotion__header {
                    height: 30px;

                    .button__Karma-refresh {
                        width: 25px;
                        height: 25px;
                        border: none;
                    }
                }

                .karma-devotion__grid--container {
                    align-items: center;
                    text-align: center;
                    display: grid;
                    height: 30px;
                    grid-template-columns:
                        // 250 px available
                        83px // current
                        83px // max
                        83px // step
                    ;
                }
            }

            .right-part {
                float: right;
                width: 520px;

                .margin__right {
                    margin-right: 20px;
                }

                .conditions__grid--container {
                    align-items: center;
                    display: grid;
                    height: 30px;
                    grid-template-columns:
                        // 260 px available
                        40px // checkbox
                        220px // Name
                    ;
                }
            }
        }

        .tab__legend {
            .legend-card__grid--container {
                align-items: center;
                height: 30px;
                display: grid;
                padding-left: 2px;
                grid-template-columns:
                    // 790 px available
                    158px // current
                    158px // spend
                    158px // total
                    158px // status
                    158px // History
                ;
            }
        }
        .tab__class {
            .class-card__grid--container {
                align-items: center;
                height: 30px;
                display: grid;
                padding-left: 2px;
                grid-template-columns:
                    // 790 px available
                    40px // Icon
                    450px // Name
                    200px // Rank
                    100px // Control Icons
                ;
            }

            .item__image {
                width: 25px;
                border: none;
            }

        }

    }
}


//###########################################################
//                       Action Button
//###########################################################
.action--buttons {
    padding-top: 5px;
    position: relative;
    width: 100%;
    z-index: -6;

    button {
        position: relative;
        z-index: 4;
        width: 100px;
    }

    .buttons--left {
        margin-left: 45px;
        margin-right: 50px;
        float: left;
        width: 40%;
    }

    .buttons--right {
        float: left;
        width: 40%;
        margin-right: 50px;
    }
}

.legend-point__history--earned {
    height: 26px;
    line-height: 22px;
}