.body {
    .item-section__top {
        height: 158px;

        img {
            width: 158px;
            border: none;
        }
    }

}

.item__left--main {
    width: 35%;
    float: left;
}

.item__right--main {
    width: 60%;
    float: right;
}

.item-data__input--line {
    height: 30px;
    label, input {
        height: 28px;
        display: flex;
        align-items: center;
    }

    .partial__30--left {
        width: 30%;
        float: left;
    }

    .partial__60--right {
        width: 60%;
        float: right;
    }
}