.ability-card__grid--container {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns:
        // 790 px available
        40px // Icon
        250px // Name
        100px // Action
        75px // Rank
        75px // Step
        75px // Strain
        100px // Attribute
        75px // Control Icons
    ;

    .ability-card__grid--item {
        width: 25px;

        .roll-icon__hover,
        .roll-icon__pointer {
            display: none;
        }
    }
}

.attribute-card__grid--container {
    align-items: center;
    height: 30px;
    display: grid;
    grid-template-columns:
        // 250 px available
        30px // Icon
        110px // Name
        38px // value
        38px // enhancement
        38px // Step
    ;

    .attribute__name {
        padding-left: 2px;
        text-align: left;
    }

    .attribute-card__grid--item {
        .roll-icon__pointer {
            display: none;
        }
    }
}

.roll-icon__hover,
.roll-icon__pointer,
.ability-icon,
.attribute-icon {
    border: none;
}

.attribute-card__grid--item.icons__dice:hover+div,
.ability-card__grid--item.icons__dice:hover+div {
    cursor: pointer;
    color: #000;
    text-shadow: 0 0 10px red;
}

.ability-card__grid--container:hover,
.attribute-card__grid--container:hover {
    .roll-icon__hover {
        display: block;
    }

    .ability-icon {
        display: none;
    }

    .ability-card__grid--item:hover,
    .attribute-card__grid--item:hover {
        .roll-icon__pointer {
            display: block;
        }

        .attribute-icon {
            display: none;
        }

        .ability-icon {
            display: none;
        }

        .roll-icon__hover {
            display: none;
        }
    }
}