.ability-card__grid--container {
    align-items: center;
    display: grid;
    height: 30px;
    grid-template-columns:
        // 790 px available
        40px // Icon
        250px // Name
        100px // Action
        75px // Rank
        75px // Step
        75px // Strain
        75px // Attribute
        100px // Control Icons
    ;

    .ability-card__grid--item {

        .roll-icon__hover,
        .roll-icon__pointer {
            display: none;
        }
    }
}

.ability-icon {
    width: 25px;
}

.attribute-card__grid--container {
    align-items: center;
    height: 30px;
    display: grid;
    grid-template-columns:
        // 250 px available
        30px // Icon
        110px // Name
        38px // value
        38px // enhancement
        38px // Step
    ;

    .attribute__name {
        padding-left: 2px;
        text-align: left;
    }

    .attribute-card__grid--item {
        .roll-icon__pointer {
            display: none;
        }
    }
}

.roll-icon__hover,
.roll-icon__pointer,
.ability-icon,
.attribute-icon {
    border: none;
}

.attribute-card__grid--item.icons__dice:hover+div,
.ability-card__grid--item.icons__dice:hover+div {
    cursor: pointer;
    color: #000;
    text-shadow: 0 0 10px red;
}


.ability-card__grid--container:hover,
.attribute-card__grid--container:hover {
    .icons__dice img{
        box-shadow: 0 0 10px red;
        border-radius: 50%;
        background-image: radial-gradient(rgb(90, 0, 0), rgb(221, 86, 86), rgb(221, 207, 205));
    }
    .roll-icon__hover,
    .attribute-icon {
        margin-top: -4px;
        display: block;
        animation-duration: 3s;
        animation-name: example;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes example {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }

        }
    }

    .ability-icon {
        display: none;
    }

    .ability-card__grid--item:hover,
    .attribute-card__grid--item:hover {
        .roll-icon__pointer {
            display: block;
            margin-top: -4px;
        }

        .attribute-icon {
            display: none;
        }

        .ability-icon {
            display: none;
        }

        .roll-icon__hover {
            display: none;
        }
    }
}

.card__description--toggle {
    display: none;
}
