// basic sheet layout for all actor- and item-sheets
// individual settings will be found in the respective sheet.less files
.app.window-app.earthdawn4e.sheet{
    background-image: url('assets/sheet/background.png');
    background-size: cover;
    header {
        position: relative;
        z-index: 3;
        border: none;
        .window-title {
            padding-left: 80px;
            margin-top: -4px;
            
        }
        .header-button {
            margin-top: -4px;
        }
        .close {
            padding-right: 80px;
        }
    }
    .window-content {
        background-image: url('assets/sheet/background.png');
        background-size: cover;
        padding: 0; 
        .header__frame {
            position:absolute;
            margin-top: -70px;
            z-index: 2;
            img {
                border: none;  
            }
            .section__name {
                position: relative;
                z-index: 4;
                margin-top: -22px;

                .sheet-header__indent--left {
                    width: 45%;
                    float: left;
                    padding-left: 5px;
                }

                .sheet-header__indent--right {
                    width: 45%;
                    float: right;
                    padding-right: 10px;
                }
            }
        }
        .body {
            position: relative;
            z-index: 4;
            margin-top: 30px;
            .navigator__flex {
                .navigator__tab {
                    padding-left: 5px;
                }
            }
            .main {
                padding-top: 1px;
                height: 440px;
                overflow-y: auto;
                padding-left: 5px;
                padding-right: 5px;
                
                .sheet__editor {
                    min-height: 400px;
                    max-height: 100%;
                    display: flex;
                    flex-direction: column;
                
                    .editor,
                    .prosemirror,
                    .editor-container,
                    .editor-content {
                        min-height: 350px;
                        max-height: 100%;
                    }
                }
            }
        }
        
        .footer__frame {
            position: absolute;
            transform: rotate(180deg);
            bottom: -45px;
            z-index: 2;
            img {
                border: none;  
            }
        }
    }
    .window-resizable-handle {
        z-index: 5;
    }
}