<div class="action-button-section list__button-column--flex">
    <div class="buttons--left input--centered">
        <button>button-1</button>
        <button>button-2</button>
    </div>
    <div class="buttons--right input--centered">
    <button>button-3</button>
    <button>button-4</button>
</div>
</div>