<div class="color-border">

    <div>
        <h3> Attributes</h3>
        <table>
            <tr>
                <th>Attribute</th>
                <th>value</th>
                <th>step</th>
                <th>dice</th>
            </tr>
            <tr>
                <td>Strength</td>
                <td>10</td>
                <td>5</td>
                <td>w8</td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td>10</td>
                <td>5</td>
                <td>w8</td>
            </tr>
            <tr>
                <td>Perception</td>
                <td>19</td>
                <td>8</td>
                <td>2w6</td>
            </tr>
            <tr>
                <td>Willpower</td>
                <td>21</td>
                <td>9</td>
                <td>w8+w6</td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td>10</td>
                <td>5</td>
                <td>w8</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Karma
            <a class="fa-zen"></a>
        </h3>
        <table>
            <tr>
                <th>current</th>
                <th>maximum</th>
                <th>step</th>
                <th>dice</th>
            </tr>
            <tr>
                <td>15</td>
                <td>20</td>
                <td>5</td>
                <td>w8</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Devotions</h3>
        <table>
            <tr>
                <th>current</th>
                <th>maximum</th>
                <th>step</th>
                <th>dice</th>
            </tr>
            <tr>
                <td>15</td>
                <td>20</td>
                <td>5</td>
                <td>w8</td>
            </tr>
        </table>
    </div>
</div>