<div class="details-section">
    <div class="actor-sheet-body">
        <div class="tab" data-tab="actor-talents-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-talents.hbs"}}
        </div>
        <div class="tab" data-tab="actor-skills-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-skills.hbs"}}
        </div>
        <div class="tab" data-tab="actor-devotions-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-devotions.hbs"}}
        </div>
        <div class="tab" data-tab="actor-spells-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-spells.hbs"}}
        </div>
        <div class="tab" data-tab="actor-equipment-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-equipment.hbs"}}
        </div>
        <div class="tab" data-tab="actor-notes-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-notes.hbs"}}
        </div>
        <div class="tab" data-tab="actor-familiar-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-familiars-mounts.hbs"}}
        </div>
        <div class="tab" data-tab="actor-reputation-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-reputation.hbs"}}
        </div>
        <div class="tab" data-tab="actor-specials-tab">
            {{> "systems/ed4e/templates/actor/character-partials/character-details/details-specials.hbs"}}
        </div>
    </div>
</div>