<div class="input--centered">
    <div class="discipline-list__actor">
        <hr class="thematic-change ">
        Discipline 1 / Discipline 2 / Path 1 / Questor 1
        <hr class="thematic-change">
    </div>
</div>