<span class="modifier-content">
      <button class="reaction-button" data-button-id="take-the-hit" type="button">{{localize "ED.Chat.Button.takeTheHit"}}</button>
    {{#each this.reactions}}
      <button class="reaction-button" data-button-id="{{this.id}}" type="button">{{this.name}}</button>
    {{/each}}
</span>