<div class="item-id" data-item-id="{{_id}}">

    <div class="one-line__vertical-align">
        <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
        {{name}}
    </div>

    {{> "systems/ed4e/templates/global/card-options-effect.hbs"}}
</div>