<div class="item-name" data-item-id="{{_id}}">

    <div class="partial__two one-line__vertical-align">
        <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
        {{name}}
    </div>

    <div class="partial__two one-line__vertical-align">
        <div class="itemControlGroup">
            <a class="item-control item-display" title="Display Item">
                <i class="fas fa-comments"></i>
            </a>
            <a class="item-control effect-delete text-align-middle" title="Delete Item">
                <i class="fas fa-trash"></i>
            </a>
            <a class="item-control effect-edit text-align-middle" title="Edit Item">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>
</div>