<div class="item-name" data-item-id="{{_id}}">
  <span>
    <a>
      <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
      {{name}}
    </a>
    {{> "systems/ed4e/templates/global-templates/card-options.hbs"}}
</div>