<div class="class-card__grid--container font__bold text-break__auto">
        <div class="class-card__grid--item"><img class="item__image" src="{{img}}"/></div>
        <div class="class-card__grid--item">{{name}}</div>
        <div class="class-card__grid--item text__alignment--center">{{system.level}}</div>
        <div class="class-card__grid--item text__alignment--center">{{> "systems/ed4e/templates/global/card-options-class-upgrade.hbs"}}</div>
    </div>