<form class="flexcol" autocomplete="off">
       <header class="header__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
              <title>{{actor.name}}</title>
       </header>
       <div class="body">
            
       </div>
       <footer class="footer__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
       </footer>
</form>