<div>
    {{#each actor.itemTypes.devotion}}
    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
        <div class="partial__two one-line__vertical-align">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
            {{name}}
        </div>
        <div class="partial__two one-line__vertical-align">
            {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs"}}
        </div>
    </div>
    {{/each}}
</div>