<div>
    {{#each actor.itemTypes.devotion}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
    </div>
    {{/each}}
</div>