<div>
    <div>
        <h3>
            {{localize "ED.Actor.Header.effectsPermanent"}}
            <a class="effect-add align-right-button" data-type="effect" title="{{localize " earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <div>
            {{#each actor.effects as |effects id|}}
                {{> "systems/ed4e/templates/global/effect-card.hbs" effects }}
            {{/each}}
        </div>
        <div>
            {{#each actor.itemTypes.effect as |effects id|}}
                {{> "systems/ed4e/templates/global/effect-card.hbs" effects }}
            {{/each}}
        </div>
    </div>
    <div>
        <h3>{{localize "ED.Actor.Header.effectsTemporary"}}
            <a class="effect-add align-right-button" data-type="effect" title="{{localize " earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>

    </div>
</div>