<div class="ability-card__grid--container">
    <div class="ability-card__grid--item"></div>
    <div class="ability-card__grid--item">name</div>
    <div class="ability-card__grid--item">action</div>
    <div class="ability-card__grid--item">Rank</div>
    <div class="ability-card__grid--item">Step</div>
    <div class="ability-card__grid--item">Strain</div>
    <div class="ability-card__grid--item">Attribute</div>
    <div class="ability-card__grid--item">Control Icons</div>
</div>
<div>
    {{#each actor.itemTypes.devotion}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
    </div>
    {{/each}}
</div>