<div class="roll-successes">
  <i class="fa-light fa-crosshairs"></i>&nbsp;{{ifThen target.public target.total "???"}}&nbsp;|
  &nbsp;<i class="fa-regular fa-dice"></i>&nbsp;{{result}}&nbsp;|
  &nbsp;<i class="fa-light fa-check-double"></i>&nbsp;{{localize "ED.Rolls.Chat.successesAchieved" numSuccesses=numSuccesses numExtraSuccesses=numExtraSuccesses}}
</div>