<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
</div>
{{!-- bloodMagicDamage --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.General.bloodMagicDamage"}}:</label>
        <input class="input__number-input" name="system.bloodMagicDamage" type="number"
            value="{{item.system.bloodMagicDamage}}" data-dtype="Number">
    </div>