<div id="detail-information-discipline-item">
    {{!-- Discipline Index itentifier for multiple disciplines --}}
    {{formField systemFields.order name="system.order" value=item.system.order localize=true}}
</div>
