<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
    {{!-- Maneuver --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Knack.maneuver"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.maneuver">
        {{#if (eq this.item.system.maneuver true)}}
        {{!-- extraSuccesses --}}
        <label>{{localize "ED.Item.Knack.extraSuccesses"}}:</label>
        <input class="input__number-input" name="system.extraSuccesses" type="text" value="{{item.system.extraSuccesses}}"
            data-dtype="Number">
        {{/if}}
    </div>
</div>