<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.General.weightMultiplier"}}</label>
        <input class="input__number-input" type="number" name="system.weightMultiplier" value="{{item.system.weightMultiplier}}">
    </div>
</div>