<div id="detail-information-discipline-item">
    
</div>
{{!-- Discipline Index itentifier for multiple disciplines --}}
<div class="item-data__input--line">
    <label class="partial__40--left">{{localize "ED.Item.Class.order"}}:</label>
    <input class="partial__55--right" name="system.order" type="text"
        value="{{item.system.order}}" data-dtype="Number">
</div>