<div>
    {{!-- tarsche - usable with a bow --}}
    {{formField systemFields.bowUsage name="system.bowUsage" value=item.system.bowUsage localize=true}}
        {{!-- usable Item ?--}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/usable-items.hbs"}}
    {{!-- itemStatus --}}
    {{formField systemFields.itemStatus name="system.itemStatus" value=item.system.itemStatus localize=true}}
    {{#if item.isOwned}}
        {{!-- automatic Weight Calculation --}}
        {{> "systems/ed4e/templates/item/item-partials/item-details/partials/tailor-to-namegiver.hbs"}}
    {{/if}}
</div>