<div>
    {{!-- LP Cost if this is not calculated by min Level --}}
    {{formField systemFields.lpCost name="system.lpCost" value=item.system.lpCost label=(localize "ED.Data.Item.Labels.Knack.lpCost") localize=true}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/targeting.hbs"}}
</div>
