<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
</div>
    {{!-- LP Cost if this is not calculated by min Level --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Knack.lpCost"}}:</label>
        <input class="input__text-input" name="system.lpCost" type="text" value="{{item.system.lpCost}}"
            data-dtype="Number">
    </div>