<div class="main">
  <div class="item-sheet-body">
    <div id="description-information-item" class="tab" data-tab="item-description-tab">
      {{> "systems/ed4e/templates/item/item-partials/item-description.hbs"}}
    </div>
    <div id="detail-information-item" class="tab" data-tab="item-details-tab">
      {{> "systems/ed4e/templates/item/item-partials/item-details.hbs"}}
    </div>
    <div id="effect-information-item" class="tab" data-tab="item-effects-tab">
      {{> "systems/ed4e/templates/item/item-partials/item-details/item-effects.hbs"}}
    </div>
    <div id="advancement-information-item" class="tab" data-tab="item-class-tab">
      {{> "systems/ed4e/templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs"}}
    </div>
  </div>
</div>