<div class="input--centered">
    <div class="navigator__item">
        <hr class="thematic-change">
        <h4>
            Navigator
        </h4>
        <nav class="item-sheet-tabs list__ordered-column--flex">
            <a data-tab="item-description-tab">Beschreibung</a>
            <a data-tab="item-details-tab">Details</a>
            <a data-tab="item-effects-tab">Effekte etc</a>
        </nav>
        <hr class="thematic-change">
    </div>
</div>