<div>
    <div class="partial__two">
        <h3 id="Name" class="header__no-border">
            <input class="item__name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h3>
    </div>
    <div class="partial__two">
        <h3 class="header__no-border item__name">
            <label>
                {{localize "ED.General.type"}}: {{localize (concat "TYPES.Item." item.type)}}
            </label>
        </h3>
    </div>
</div>