<div>
    <h3>Type: Talent</h3>
    <h3 id="Name" class="xxx"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                </h3>

                <h3>sonstige generelle informationen</h3>
</div>