<div class="tab spell-tab" data-group="primary" data-tab="spell-tab">
  <div>
    Spells
  </div>
  <div>
    doppel click schiebt die Ability in die andere Tabelle
  </div>
  <div>
    <Table>
      <tr>
        <th>Optionen</th>
        <th>Gew채hlt</th>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 1
        </td>
        <td class="input--centered">
          gew채hlter Zauber
        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 1
        </td>
        <td class="input--centered">
          gew채hlter Zauber
        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 1
        </td>
        <td class="input--centered">
          gew채hlter Zauber
        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 1
        </td>
        <td class="input--centered">

        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 1
        </td>
        <td class="input--centered">

        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 2
        </td>
        <td class="input--centered">

        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 2
        </td>
        <td class="input--centered">

        </td>
      </tr>
      <tr>
        <td class="input--centered">
          Zauber Kreis 2
        </td>
        <td class="input--centered">

        </td>
      </tr>
    </Table>
  </div>
</div>
