<form class="item item-sheet flexcol" autocomplete="off" draggable="false">
    <header id="ed-item-header" class="header__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
        <section class="section__name">
            {{> "systems/ed4e/templates/item/item-partials/item-section-name.hbs"}}
        </section>
    </header>
    <div class="body">
        <section class="item-section__top">
                {{> "systems/ed4e/templates/item/item-partials/item-section-top.hbs"}}
        </section>
        <section class="section__navigator">
                {{> "systems/ed4e/templates/item/item-partials/item-section-navigator.hbs"}}
        </section>
        <section class="section__main">
            {{> "systems/ed4e/templates/item/item-partials/item-section-main.hbs"}}
        </section>
    </div>
    <div class="footer__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
    </div>
</form>