<form class="item item-sheet flexcol" autocomplete="off">
    <div class="header-item__frame">
        <img src="systems/earthdawn4e/assets/background-vasgothia2.png">
    </div>
    <div class="body">
        <section class="item__top">
             {{> "systems/ed4e/templates/item/item-partials/top-section.hbs"}}
        </section>
        <section class="item__navigator">
            <div class="item__left--top">
                <img src="{{item.img}}" data-edit="img" height="128" width="128" />
            </div>
            <div class="item__right--top">
               {{> "systems/ed4e/templates/item/item-partials/navigator-section.hbs"}}
            </div>
        </section>
        <section class="item__main">
            {{> "systems/ed4e/templates/item/item-partials/main-section.hbs"}}
        </section>
    </div>
    <div class="footer-item__frame">
        <img src="systems/earthdawn4e/assets/background-vasgothia2.png">
    </div>
</form>