<div class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Physical Item Parameter --}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/physical-items.hbs"}}
    {{!-- Amount --}}
    {{formField systemFields.amount name="system.amount" value=item.system.amount localize=true}}
</div>
{{!-- Editor --}}
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>