<div id="base-information-discipline-item" class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Circle --}}
    {{formField systemFields.level name="system.level" value=item.system.level localize=true}}
    {{!-- durability --}}
    {{formField systemFields.durability name="system.durability" value=item.system.durability localize=true}}
</div>
<div id="description-discipline-item" class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>